body, html {
    padding: 0;
    margin: 0;
    background-color: #6dcf7a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
    padding: 1em;
}

.buttonRow {
    margin-left: 2em;
}

.dataBtn {
    background-color: rgb(111, 201, 231);
    color: white;
    border-radius: 5px;
    border-color: transparent;
    height: 3em;
    width: 7em;
}

.dataBtn:hover {
    background-color: lightblue;
    color: black;
}

.dataContainer {
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 15px black;
    margin: 3em;
}

.dataContainer p {
    text-indent: 1em;
}

.dataContainer h2 {
    margin-left: 2em;
}
